@model DP_BurLida.Data.ModelsData.OrderModelData

@{
    ViewData["Title"] = "Детали заказа";
}

<h1>Детали заказа</h1>

<div>
    <h4>Информация о заказе</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя клиента
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameClient)
        </dd>
        <dt class = "col-sm-2">
            Фамилия клиента
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurnameClient)
        </dd>
        <dt class = "col-sm-2">
            Телефон
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Область
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            Район
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            Город
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Диаметр
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            Цена за метр
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerMeter)
        </dd>
        <dt class = "col-sm-2">
            Насос
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pump)
        </dd>
        <dt class = "col-sm-2">
            Обустройство
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrangement)
        </dd>
        <dt class = "col-sm-2">
            Информация
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            Дата создания
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTimeData)
        </dd>
        <dt class = "col-sm-2">
            Дата работы
        </dt>
        <dd class = "col-sm-10">
            @if (Model.WorkDate.HasValue)
            {
                @Model.WorkDate.Value.ToString("dd.MM.yyyy")
            }
            else
            {
                <span class="text-muted">Не назначена</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
