@model DP_BurLida.Data.ModelsData.OrderModelData

@{
    ViewData["Title"] = "Details";
}

<h1>Подробно </h1>

<div>
    <h4>Заявка номер: @Html.DisplayFor(model => model.Id) </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Имя
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameClient)
        </dd>
        <dt class = "col-sm-2">
            Фамилия
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurnameClient)
        </dd>
        <dt class = "col-sm-2">
            Номер телефона
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Область
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            Район
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt class = "col-sm-2">
            Населеный пункт
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            Диаметр скважины
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diameter)
        </dd>
        <dt class = "col-sm-2">
            Стоимость за метр бурения
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerMeter)
        </dd>
        <dt class = "col-sm-2">
            Стоимость насоса
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pump)
        </dd>
        <dt class = "col-sm-2">
            Обустройство
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arrangement)
        </dd>
        <dt class = "col-sm-2">
            Дополнительная информация
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            Дата создания заказа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTimeData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
