@model IEnumerable<DP_BurLida.Data.ModelsData.OrderModelData>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurnameClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerMeter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pump)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrangement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTimeData)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerMeter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pump)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrangement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTimeData)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
