@model IEnumerable<DP_BurLida.Data.ModelsData.OrderModelData>

@{
    ViewData["Title"] = "Заказы";
}

<h1>Заказы</h1>

<p>
    <a asp-action="Create">Создать новый заказ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя клиента
            </th>
            <th>
                Фамилия клиента
            </th>
            <th>
                Телефон
            </th>
            <th>
                Область
            </th>
            <th>
                Район
            </th>
            <th>
                Город
            </th>
            <th>
                Диаметр
            </th>
            <th>
                Цена за метр
            </th>
            <th>
                Насос
            </th>
            <th>
                Обустройство
            </th>
            <th>
                Информация
            </th>
            <th>
                Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurnameClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.District)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diameter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerMeter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pump)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arrangement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationTimeData)
                </td>
                            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
            </tr>
        }
    </tbody>
</table>
