@model IEnumerable<DP_BurLida.Data.ModelsData.OrderModelData>

@{
    ViewData["Title"] = "Index";
}

<h1>Заявки</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Create">Создать заявку</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Номер телефона
            </th>
            <th>
                Населеный пункт
            </th>
            <th>
                Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurnameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTimeData)
            </td>
                
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
