@model DP_BurLida.Data.ModelsData.SkladModelData

@{
    ViewData["Title"] = "Удаление";
}

<h1>Вы уверены, что хотите удалить предмет?</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Название предмета</dt>
        <dd class="col-sm-10">@Model.NameSubjecte</dd>
        <dt class="col-sm-2">Категория</dt>
        <dd class="col-sm-10">@Model.Category</dd>
        <dt class="col-sm-2">Количество</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>
        <dt class="col-sm-2">Информация</dt>
        <dd class="col-sm-10">@Model.Info</dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
